<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <p>Dale al botón para subir la radiografía.</p>
    <form method="post" action="{{ url_for('IrSubirImagen') }}">
        <button class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Subir imagen</button>
    </form>

</body>
</html>