<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Su respuesta es: </title>
</head>
<body>
    <h1>La predicción es: {{res}}</h1>

    <form method="post" action="{{ url_for('IrInicio') }}">
        <button class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Ir a inicio</button>
    </form>
    
</body>
</html>